@font-face {
    font-family: 'dino';
    src: url('/fonts/dino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'koni';
    src: url('/fonts/koni.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'luck';
    src: url('/fonts/luck.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lil';
    src: url('/fonts/lil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}